#topContainer {
  height: 330px;
  padding: 8px;
  margin-top: 440px;
  position: absolute;
}

#gameContainer h1 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  padding: 20px;
  background-color: #8C5000;
}

#map {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  position: absolute;
  background-color: #000;
  margin-left: 20px;
}

#playerData {
font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 37px;
    position: absolute;
    margin-left: 12px;
    display: none;
        border: 1px solid black;
    padding: 10px;
    background-image: url(resources/character_bg.jpg);
    width: 580px;
}

#playerName {
      border-bottom: 1px dotted black;
}
#enemyName {
      border-bottom: 1px dotted black;
}

#enemyData {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 37px;
    position: absolute;
    margin-left: 12px;
    margin-top: 150px;
    display: none;
        border: 1px solid black;
    padding: 10px;
    background-image: url(resources/character_bg.jpg);
    width: 580px;
}

#actionLog li {
  list-style: none
}

#actionLog ul {
    overflow: auto;
    max-height: calc( 100% - 220px );
    display: block;
    position: absolute;
    width: 550px;
    margin-left: 610px;
    margin-top: 0;
}

#gameContainer{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#landingPage {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: black;
  color: white;
}

#landingPage h1 {
  font-family: 'Fredericka the Great', cursive;
      font-weight: bold;
      text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
    font-size: 100px;
    margin-top: 200px;

}

#startButton {
  background: #DBBA34;
  background-image: -webkit-linear-gradient(top, #DBBA34, #B96429);
  background-image: -moz-linear-gradient(top, #DBBA34, #B96429);
  background-image: -ms-linear-gradient(top, #DBBA34, #B96429);
  background-image: -o-linear-gradient(top, #DBBA34, #B96429);
  background-image: linear-gradient(to bottom, #DBBA34, #B96429);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 2px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 27px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-color: black;
}

#startButton:hover {
  background: #B96429;
  background-image: -webkit-linear-gradient(top, #B96429, #DBBA34);
  background-image: -moz-linear-gradient(top, #B96429, #DBBA34);
  background-image: -ms-linear-gradient(top, #B96429, #DBBA34);
  background-image: -o-linear-gradient(top, #B96429, #DBBA34);
  background-image: linear-gradient(to bottom, #B96429, #DBBA34);
  text-decoration: none;
}

#containerOverlay {
  margin: auto;
  width: 1224px;
  background-color: antiquewhite;
  height: calc(100% - 40px);
  margin-top: 20px;
}

li {
  margin-bottom: 20px;
}

li img {
  max-width: 500px;
}

input[type="text"] {
  color: white;
  height: 23px;
  width: 150px;
  padding: 3px 5px 3px 5px;
  border-style: none;
  background-image: url(./resources/mapBackground.jpg);
  font-family: courier new;
  font-size: 14px;
  border-radius: 7px;
  border: 1px solid black;
}

#gameContainer button {
  background: #d98f34;
  background-image: -webkit-linear-gradient(top, #d98f34, #b84c2b);
  background-image: -moz-linear-gradient(top, #d98f34, #b84c2b);
  background-image: -ms-linear-gradient(top, #d98f34, #b84c2b);
  background-image: -o-linear-gradient(top, #d98f34, #b84c2b);
  background-image: linear-gradient(to bottom, #d98f34, #b84c2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-color: black;
  cursor: pointer;
}

#gameContainer button.disabled {
  background-image: linear-gradient(to bottom, #DEDEDE, #7D7D7D);
  cursor: default;
  color: black;
}

#buttonContainer {
position: absolute;
    bottom: 25px;
    margin-left: 635px;
    width: 550px;
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 24px;
  border-radius: 9px;
  width: 100%;
}
progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 9px;
}
progress::-webkit-progress-value {
  background: #EB8E8E;
  background: -moz-linear-gradient(top,  #EB8E8E 0%, #C95656 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EB8E8E), color-stop(100%,#C95656));
  background: -webkit-linear-gradient(top,  #EB8E8E 0%,#C95656 100%);
  background: -o-linear-gradient(top,  #EB8E8E 0%,#C95656 100%);
  background: -ms-linear-gradient(top,  #EB8E8E 0%,#C95656 100%);
  background: linear-gradient(to bottom,  #EB8E8E 0%,#C95656 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EB8E8E', endColorstr='#C95656',GradientType=0 );
  border-radius: 9px;
}
progress::-moz-progress-bar {
  background: #EB8E8E;
  background: -moz-linear-gradient(top,  #EB8E8E 0%, #C95656 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EB8E8E), color-stop(100%,#C95656));
  background: -webkit-linear-gradient(top,  #EB8E8E 0%,#C95656 100%);
  background: -o-linear-gradient(top,  #EB8E8E 0%,#C95656 100%);
  background: -ms-linear-gradient(top,  #EB8E8E 0%,#C95656 100%);
  background: linear-gradient(to bottom,  #EB8E8E 0%,#C95656 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EB8E8E', endColorstr='#C95656',GradientType=0 );
  border-radius: 9px;
}

#expLabel {
  font-size: 20px;
}

#exp {
  font-size: 30px;
}
